In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
glaxo_df=pd.read_csv('GLAXO.csv')

In [3]:
glaxo_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [4]:

glaxo_df = glaxo_df[['Date', 'Close']]

'''The DataFrames have a date column, so we can
create a DatetimeIndex index from this column Date. It will ensure that the rows are sorted by time in
ascending order.'''
glaxo_df = glaxo_df.set_index(pd.DatetimeIndex(glaxo_df['Date']))

In [5]:
glaxo_df['gain'] = glaxo_df.Close.pct_change(periods = 1)

In [6]:
stats.t.ppf(0.975,139)

1.977177724476122

In [7]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:',glaxo_df_ci)

Gain at 95% confidence interval is: (-0.025800133293883157, 0.02657221545906774)

In [8]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci, 4))

Gain at 95% confidence interval is: [-0.0258  0.0266]

# EXERCISES FOR MYSELF

# ONLY THE CONFIDENCE LEVEL SHOULD BE USED IN THE FIRST TWO FORMULAS

In [10]:
#z score
stats.norm.ppf(0.975)

1.959963984540054

In [11]:
#t score 
stats.t.ppf(0.975,139)

1.977177724476122

#Opposite to t score, gives the confidence level 
stats.t.cdf(1.97,139)

# THIS IS PREVIOUS

In [12]:
# P-VALUE  ie) IT DIRECTLY GIVES THE P VALUE WITHOUT USING Z-TABLE 

stats.norm.cdf(x=70,loc=60,scale=10) #(X,Mean,Std Dev)

0.8413447460685429

In [13]:
stats.norm.cdf(680,711,29)

0.14254260383881612

#lly Z-VALUE  ie) IT GIVES THE x VALUE WHEN SUBSTITUTING THE P-VALUE IN THAT FIRST VARIABLE
stats.norm.ppf(0.145,711,29)

stats.norm.ppf(0.842,60,10)

In [5]:
stats.norm.interval(0.05,loc=1990,scale=2500)

(1833.2330551419655, 2146.7669448580345)

In [15]:
stats.t.cdf(2.326,79)

0.988708049802635