In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s=pd.Series([5,8,np.nan,15,12])

In [9]:
s

0     5.0
1     8.0
2     NaN
3    15.0
4    12.0
dtype: float64

# CREATING A DATAFRAME BY PASSING NUMPY ARRAY

In [10]:
date = pd.date_range('20200102',periods=6)

In [11]:
date

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05',
               '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df=pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'),index=date)

In [18]:
df

                   A         B         C         D
2020-01-02 -2.392436 -0.063070 -1.561826  0.401398
2020-01-03  0.373424  0.152038  1.776833  0.539998
2020-01-04 -1.143332  0.299905 -0.143942 -1.424641
2020-01-05  0.455242 -1.356516 -1.703590  0.282337
2020-01-06 -1.223499  0.046291 -0.469283  0.291947
2020-01-07 -1.007039 -0.058836 -0.335103 -0.565818

# CREATING A DATAFRAME BY PASSING A DICT OF OBJECTS THAT CAN BE CONVERTED TO SERIES-LIKE

In [128]:
df2=pd.DataFrame({'A':1,
                  'B':pd.date_range('20200102',periods=4),
                  'C':pd.Series(23,index=list(range(4)),dtype=float),
                  'D':np.array([56]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","ok"]),
                  'F':'foo'})

In [129]:
df2

   A          B     C   D      E    F
0  1 2020-01-02  23.0  56   test  foo
1  1 2020-01-03  23.0  56  train  foo
2  1 2020-01-04  23.0  56   test  foo
3  1 2020-01-05  23.0  56     ok  foo

In [130]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [57]:
#df2.append({'new':'yes'},ignore_index=True)

In [58]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [59]:
#reverse:

In [60]:
company=['wipro','tcs','cts','accenture','ibm']

In [61]:
company

['wipro', 'tcs', 'cts', 'accenture', 'ibm']

In [68]:
company.append('yes')

In [70]:
company

['wipro', 'tcs', 'cts', 'accenture', 'ibm', ['yes'], 'yes', 'yes', 'yes']

In [71]:
s='welcome'

In [74]:
company.append(s)

In [75]:
company

['wipro',
 'tcs',
 'cts',
 'accenture',
 'ibm',
 ['yes'],
 'yes',
 'yes',
 'yes',
 'w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 'welcome']

In [76]:
s='player'

In [77]:
s[1]

'l'

In [80]:
players=['virat','sachin','raina','dhoni']

In [81]:
teama=players

In [82]:
players

['virat', 'sachin', 'raina', 'dhoni']

In [83]:
teama

['virat', 'sachin', 'raina', 'dhoni']

In [84]:
players.append('klrahul')

In [85]:
players

['virat', 'sachin', 'raina', 'dhoni', 'klrahul']

In [86]:
teama

['virat', 'sachin', 'raina', 'dhoni', 'klrahul']

In [89]:
id(players)

2331492155648

In [90]:
id(teama)

2331492155648

In [91]:
teamb=players.copy()

In [92]:
teamb

['virat', 'sachin', 'raina', 'dhoni', 'klrahul']

In [93]:
teamb.append('pant')

In [94]:
teamb

['virat', 'sachin', 'raina', 'dhoni', 'klrahul', 'pant']

In [113]:
teamb[1]='so'

In [114]:
teamb

['virat', 'so', 'raina', 'dhoni', 'klrahul', 'pant']

In [95]:
players

['virat', 'sachin', 'raina', 'dhoni', 'klrahul']

In [96]:
"rohit" in players

False

In [97]:
'virat' in players

True

In [100]:
players+[10]

['virat', 'sachin', 'raina', 'dhoni', 'klrahul', 10]

In [102]:
players*2

['virat',
 'sachin',
 'raina',
 'dhoni',
 'klrahul',
 'virat',
 'sachin',
 'raina',
 'dhoni',
 'klrahul']

In [107]:
t=(1,'ok',[3,4,6],True)

In [108]:
t

(1, 'ok', [3, 4, 6], True)

In [109]:
t[1]

'ok'

In [110]:
type(t)

tuple

In [111]:
t[2].append(4)

In [112]:
t

(1, 'ok', [3, 4, 6, 4], True)

In [115]:
v='virat',31,'rcb'

In [116]:
type(v)

tuple

In [117]:
#packing

In [118]:
n,a,t='virat',32,'rcb'

In [119]:
n

'virat'

In [120]:
a

32

In [121]:
t

'rcb'

In [134]:
lang=input("language:")
msg="welcome to"+lang+"program"
# print(msg)
print('welcome to {} program'.format(lang))

language:so
welcome to so program

In [141]:
fruits={"a":"apple","b":"orange","c":"cherry"}

In [142]:
fruits

{'a': 'apple', 'b': 'orange', 'c': 'cherry'}

In [137]:
type(fruits)

dict

In [143]:
fruits['d']='dates'

In [144]:
fruits

{'a': 'apple', 'b': 'orange', 'c': 'cherry', 'd': 'dates'}